##### 简要描述

# {title}

##### 请求URL
- ` {sourceUrl} `
  
##### 请求方式
- {method} 

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
{requestParameter}



##### 返回示例 

``` 
{example}
```

##### 返回参数说明 

|参数名|类型|说明|
|:-----  |:-----|-----                           |
{returnParameter}


##### 备注 

- {remarks}